    <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org"><!--to get thymeleaf properties-->
        <head>
            <meta charset="UTF-8">
            <title>Student Form</title>
        </head>
        <body>
            <h3>Student  Regestration Form</h3>
            <form th:action="@{/students/save}" th:object="${student}" method="post">
                <!--<label for="firstName">First Name:</label>-->
        
                FirstName: <input type="text"  th:field="*{firstName}" /><!--field for student object -->
                <br><br> 
            
        LastName: <input type="text"  th:field="*{lastName}" />
    <br><br> 
    Your Age: <input type="text"  th:field="*{age}" />
    <br><br>
    Counry: <select th:field="*{country}">
        <!-- loop on list of countries -->
    <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
    </select>
    <br><br>
    Favorite Programming Language: 
    <input type="radio" th:each="favoriteLanguage:${favoriteLanguages}" th:field="*{favoriteLanguage}" th:value="${favoriteLanguage}" th:text="${favoriteLanguage}"/>
    <br><br>
    Favorite Operating System: 
    <!--the differeance between radio and checkbox is checkbox take more  input-->
    <input type="checkbox" th:each="favoriteSystem:${favoriteSystems}" th:field="*{favoriteSystems}" th:value="${favoriteSystem}" th:text="${favoriteSystem}"/>
    <br><br>
    <input type="submit" text="Submit"/>



            </form>
                </body>
        </html>