 <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>Student Confirmation</title>
        </head>
        <body>
            <h3>Student Registration Confirmation</h3>
           Thank you for Registration, <span th:text="${student.firstName}+ ' ' +${student.lastName} " />
           <br><br>
           Your Country is: <span th:text="${student.country}" />
             <br><br>
           Your Age is: <span th:text="${student.age}" />
             <br><br>
             Your Favorite Programming Language is: <span th:text="${student.favoriteLanguage}" />
             <br><br>
             Your Favorite Operating System is: <span th:text="${student.favoriteSystems}" />
             <br><br>
           you are successfully registered!
               
        </body>
    </html>